#videoContainer{
    position: relative;
    margin: 0 auto;
}

#webcam {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
